@{
    ViewBag.Title = "About Me";
}

<section class="section about-me" data-section="section1">
    <div class="container">
        <div class="section-heading">
            <h2>@ViewBag.Title</h2>
            <div class="line-dec"></div>
            <span>
                Hello, I am Arianna Harrison. I was born in Kansas City, Missouri however I grew up in plenty distinctive locations around the U.S. and overseas. From Germany all the way through southern and mid-western states, I experienced cultures galore. Having lived all around I am great at adapting to the unfamiliar. 

                <div><br /></div>

                <img src="~/Content/images/web-design-concepts.jpg" alt="desktoppic" title="Web Development" id="pic" class="pic" />

                <div><br /></div>

                Entering into the web developement territory is quite scary yet, at the same time, exciting. I always had a passion for technology. Thusly, pursuing my career within web development has positively changed my perspective on what I can do in life. Bearing that in mind, I am thrilled to take on such challenges, languages, and new skill sets to manifest in this business. Therefore, I cannot wait to see what is to come, not only in my future, but in the web development world as well.

            </span>
        </div>
        <div class="right-image-post">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-text">
                        <h4>Personal Info</h4>
                        <span> <i class="fa fa-location-arrow" aria-hidden="true"></i> Location: Blue Springs, MO</span>
                        <div></div>
                        <span><i class="fa fa-user" aria-hidden="true"></i> Army Brat</span>
                        <div></div>
                        <span><i class="fa fa-graduation-cap" aria-hidden="true"></i> 2020 Metropolitan Community College Graduate</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        @*<img src="~/content/images/fill-stack-developer-india.jpg" alt="" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>