
@{
    ViewBag.Title = "Links";
}

<section class="section my-work" data-section="section3">
    <div class="container">
        <div class="section-heading">
            <h2>@ViewBag.Title</h2>
            <div class="line-dec"></div>
            <span>Here are links to more devoted full stack web developers, check them out!</span>
            <br />
            <br />
            <div class="white-button">
                <a href="http://courtneycrespo.com" target="_blank"><i aria-hidden="true"></i> Courtney Crespo</a>
                <br />
                <br />
                <a href="http://ianwhitehill.com" target="_blank"><i aria-hidden="true"></i> Ian Whitehill</a>
                <br />
                <br />
                <a href="http://isaacbeck.net" target="_blank"><i aria-hidden="true"></i>Isaac Beck</a>
                <br />
                <br />
                <a href="http://jvbdev.com" target="_blank"><i aria-hidden="true"></i>Jose Valerio Burciaga</a>
                <br />
                <br />
                <a href="http://joshready.com" target="_blank"><i aria-hidden="true"></i> Josh Ready</a>
                <br />
                <br />
                <a href="http://lukeabeauchamp.com" target="_blank"><i aria-hidden="true"></i>Luke Beauchamp</a>
                <br />
                <br />
                <a href="http://ryaneutsler.com" target="_blank"><i aria-hidden="true"></i> Ryan Eutsler</a>
                <br />
                <br />
                <a href="http://ryanpflugradt.com" target="_blank"><i aria-hidden="true"></i> Ryan Pflugradt</a>
                <br />
                <br />
                <a href="http://tim-lopez.com" target="_blank"><i aria-hidden="true"></i> Tim Lopez</a>
                <br />
                <br />
                <a href="http://williamhaskins.com" target="_blank"><i aria-hidden="true"></i> William Haskins</a>
            </div>
        </div>
    </div>
</section>

