
@{
    ViewBag.Title = "My Resume";
}

<section class="section my-services" data-section="section2">
    <div class="container">
        <div class="section-heading">
            <h2>@ViewBag.Title</h2>
            <div class="line-dec"></div>
            <div><br /></div>
            <div>
                <figure class="snip1321">
                    <img src="~/Content/images/Arianna Harrison Resume IT-page-001.jpg"
                         alt="sq-sample26" />
                    <figcaption>
                        <a href="~/Content/images/Arianna Harrison Resume IT-page-001.jpg"
                           data-lightbox="image-1">
                            <i class="fa fa-search"></i>
                        </a>
                        <h4>Resume</h4>
                        <span>Take a closer look</span>
                    </figcaption>
                </figure>
                <div><br /></div>
                <div class="white-button">
                    <a href="~/Content/images/Arianna Harrison Resume IT.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>
